@charset 'UTF-8';

body{
 font-family: Arial, Helvetica, sans-serif;   
}



table{
    width: 500px;
    
    border-collapse: collapse;
    
}

thead, th{
    background-color: gray;
    color: white;
    border: 1px solid black;
    
}

.num{
    text-align: right;
}



td, tr {
    border: 1px solid black;
    padding: 10px;
    text-align: center;/*para alinhar horizontalmente o conteúdo da tabela*/
    /*vertical-align: bottom; para alinhar verticalmente o conteúdo da tabela*/

}